.App {
  
  margin: 2rem 5rem;
}

div {
  padding: 1rem;
 
  border: transparent;
}

.selput {
  display: flex;
}

input {
  padding: 0.6rem 0;
  border-radius: 5px 0 0 5px;
  width: 250px;
  font-size: 20px;
}

select {
  padding: 0.6rem 0.5rem;
}

h1 {
  background: linear-gradient(185deg, #3c801a, #cbe9e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}